{{ form_start(formTransfer, {attr: {class: 'form-horizontal', 'data-turbo-frame': 'transfer_frame'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formTransfer) }}
    </div>
    <div class="input-group">
        {{ form_widget(formTransfer.cardOut, {attr: {class: 'form-select'}}) }}
        {{ form_widget(formTransfer.cardIn, {attr: {class: 'form-select'}}) }}
        {{ form_widget(formTransfer.date) }}
        {{ form_widget(formTransfer.balance, {attr: {placeholder: '0.00'}}) }}
        <button type="submit" class="btn btn-primary">{{ 'Add'|trans }}</button>
    </div>
{{ form_end(formTransfer) }}
