{{ form_start(formSubscription, {attr: {class: 'form-horizontal', 'data-turbo-frame': 'subscription_frame'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formSubscription) }}
    </div>
    <div class="input-group">
        {{ form_widget(formSubscription.subscrip, {attr: {class: 'form-select'}}) }}
        {{ form_widget(formSubscription.card, {attr: {class: 'form-select'}}) }}
        {{ form_widget(formSubscription.amount, {attr: {placeholder: '0.00'}}) }}
        <button type="submit" class="btn btn-primary">{{ 'Add'|trans }}</button>
    </div>
{{ form_end(formSubscription) }}
