{% extends 'base.html.twig' %}

{% block title %}{{ 'Expenses/Income'| trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-default mb-3">
        {% include "form/formFilter.html.twig" %}
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4" id="card_block">
        {% for category in categories %}
        {{ component('Category', {'categoryID': category.id}) }}
        {% endfor %}
    </div>
    
    {{ component('ReceiptForm') }}
    {{ component('SpendForm') }}
    {{ component('TransferForm') }}

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div class="col">
            {{ component('ReceiptList') }}
            {{ component('TransferList') }}
        </div>
        <div class="col">
            {{ component('SpendList') }}
        </div>
    </div>

    {# {% include "place/index.html.twig" %} #}

    {% include "subscription/index.html.twig" %}
</div>
{% endblock %}
