<turbo-frame id="category_frame{{ category.id }}">
    <div class="col mb-3">
        <div class="card">
            <div class="card-header">
                <div class="row row-cols-4">
                    <div class="col">{{ category.name}}</div>
                    <div class="col text-end text-success">{{ category.totalReceipt|formatCurrency }}</div>
                    <div class="col text-end text-danger">{{ category.totalSpend|formatCurrency }}</div>
                    <div class="col text-end text-primary">{{ category.balance|formatCurrency }}</div>
                    <div class="col text-end"></div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for card in category.cards %}
                    <li class="list-group-item{% if card.type == 1 %} list-group-item-danger{% endif %}">
                        <div class="row row-cols-4">
                            <div class="col">{{ card.name }}</div>
                            <div class="col text-end text-success">{{ card.totalReceipt|formatCurrency }}</div>
                            <div class="col text-end text-danger">{{ card.totalSpend|formatCurrency }}</div>
                            <div class="col text-end">{{ card.balance|formatCurrency }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</turbo-frame>