{% for place in placeList %}
<details class="card mb-3">
    <summary class="card-header">
        {{ place.name }}
    </summary>
    <div class="card-body">
        <turbo-frame id="service_frame{{ place.id }}" src="{{ path('app_place_view', {id: place.id}) }}"></turbo-frame>
        <turbo-frame id="service_form_frame{{ place.id }}" src="{{ path('app_place_form', {id: place.id}) }}"></turbo-frame>
    </div>
</details>
{% endfor %}
