<div {{ attributes }}>
    {% set subscriptionList = this.getSubscriptionList() %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'Subscription'|trans }}</th>
                <th>{{ 'Next date'|trans }}</th>
                <th>{{ 'Cost'|trans }}</th>
                <th>{{ 'Balance'|trans }}</th>
            </tr>
        </thead>
        <colgroup>
            <col class="table-info">
            <col class="text-center">
            <col class="table-primary text-end">
            <col class="table-danger text-end">
        </colgroup>
        <tbody>
            {% for subscription in subscriptionList %}
            <tr>
                <td>{{ subscription.name }}</td>
                <td class="text-end">{{ subscription.nextPaymentDate|date('Y-m-d') }}</td>
                <td class="table-primary text-end">{{ subscription.amount|formatCurrency }}</td>
                <td class="table-danger text-end">{{ subscription.balance|formatCurrency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
