{% extends 'base.html.twig' %}

{% block title %}Regular index{% endblock %}

{% block body %}
    <h1>Regular index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Period</th>
                <th>NextPaymentDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regular in regulars %}
            <tr>
                <td>{{ regular.id }}</td>
                <td>{{ regular.name }}</td>
                <td>{{ regular.amount }}</td>
                <td>{{ regular.period }}</td>
                <td>{{ regular.nextPaymentDate ? regular.nextPaymentDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_regular_show', {'id': regular.id}) }}">show</a>
                    <a href="{{ path('app_regular_edit', {'id': regular.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_regular_new') }}">Create new</a>
{% endblock %}
