{% extends 'base.html.twig' %}

{% block title %}Regular{% endblock %}

{% block body %}
    <h1>Regular</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ regular.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ regular.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ regular.amount }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ regular.period }}</td>
            </tr>
            <tr>
                <th>NextPaymentDate</th>
                <td>{{ regular.nextPaymentDate ? regular.nextPaymentDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_regular_index') }}">back to list</a>

    <a href="{{ path('app_regular_edit', {'id': regular.id}) }}">edit</a>

    {{ include('regular/_delete_form.html.twig') }}
{% endblock %}
